* {
  margin:0;
  padding:0;
  font-family: 'Roboto Mono', monospace;
}

html {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow: hidden;
}

body {
  height:100%;
  width:100%;
  font-size: 2vmin;
  background-color: rgb(22, 21, 21);
  color: #8fe590;
}

input {
  border:none;
}

.daily-stock-head {
  font-size: 3vmin;
  border-radius: 0.3vmin;
  padding:0.5vh 2vw;
  width: 18vw;
  background-color: rgb(75, 73, 73);
}

nav {
  padding-top:1vh;
}

nav > a {
  color: #8fe590;
  text-decoration: none;
  font-size:2vmin;
}

nav > a:hover {
  box-sizing:border-box;
  border:0.2vmin solid #8fe590;
  background-color: rgb(75, 73, 73);
}

a {
  color: #8fe590;
  text-decoration: none;
}

table {
  border-spacing: 0.1vmin;
}

td a {
  display:block;
  width:100%;
}


.login img {
  height: 1.8vh;
}

a > img {
  height:1vh;
}

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

nav {
  justify-content: center;
  text-align: center;
  height: 5vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td {
  width: 12vw;
  border: 0.3vmin solid #8fe590;
}

td {
  text-align: center;
}

tr a:hover {
  color:rgb(112, 112, 243);
  text-decoration: underline;
}

.cont {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:95vh;
  width:100vw;
}

.show-cont {
  margin-top:5vh;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height:95vh;
  width:100vw;
}

.stock-cont {
  padding:3vmin 2vmin 2vmin 2vmin;
  border-radius:1vmin;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap:3vh;
  column-gap:1.5vw;
  margin-top:3vh;
  margin-bottom:3vh;
  background-color:rgb(44, 43, 43);
}

.stock {
  height:25vh;
  width:30vw;
  border: 0.3vmin solid #8fe590;
  border-radius: 0.2vmin;
  background-color: rgb(75, 73, 73);
  display:grid;
  grid-template-rows: 11fr 11fr;
  overflow: hidden;
  transition: transform 0.3s ease-out;
}

.stock:hover {
  position:absolute;
  z-index:1;
  transform: scale(1.1);
  border:0.3vmin solid #8fe590;
  box-shadow: 0.3vw 0.3vh 0.3vmin black;
  border-radius: 0.3vmin;
}

.canvas-div {
  width:30vw;
  height:20vh;
}

.home-header-cont {
  margin-top: 3vh;
  display:flex;
}

.stock-title {
  margin-top:1vh;
  font-weight: bold;
}


.add-button {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.8vh;
  color: #8fe590;
  font-size:1.5vmin;
}


.grn-btn {
  box-sizing:border-box;
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.3vh;
  color: #8fe590;  
  cursor:pointer;
  width:10vw;
  height:3.4vh;
  font-size:1.3vmin;
}

.add-wl-button {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.1vh;
  color: #8fe590;
  font-size:1.15vmin;
  width:12vw;
}

.btn-input {
  height: 3.3vh;
  width: 12vw;
  font-size:1.5vmin;
  color:rgb(111, 107, 107);
  text-align: center;
}

.add-wl-button:hover , .add-button:hover, .grn-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.small-col {
  width:7vw;
}

.del-btn {
  text-align: center;
  background-color: rgb(208, 62, 62);
  border:0.2vh solid black;
  border-radius:0.3vmin;
  width:2.3vw;
  height:2.8vh;
  font-size:2vmin;
}

.del-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.edit-btn {
  border-radius:0.3vmin;
  color: #8fe590;
  background-color:rgb(75, 73, 73);
  border:0.2vh solid black;
  font-size:1.5vmin;
  width:4vw;
}

.edit-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.home-header-cont {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-header-cont form {
  grid-column-start: 1;
  grid-column-end: span 2;
  align-self:center;
}

.home-header-cont h1 {
  grid-column-start: 3;
  grid-column-end: span 1;
}

#add-watchlist {
  width:25vw;
  display:flex;
  justify-content: space-between;
}

.flex-container {
  border-radius: 0.5vmin;
  padding:2vh 2vw;
  background-color: rgb(75, 73, 73);
  text-align: center;
  width:70vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1vh 0;
  box-shadow: 0.4vw 0.4vh 0.4vmin black;
}

.link {
  color:rgb(112, 112, 243);
  text-decoration: underline;
}

.add-stock-portfolio > * {
  margin:1vh 0;
}

.portfolio-h2 {
  font-size:2vmin;
}

.loss {
  color:rgb(208, 62, 62);
}