* {
  margin:0;
  padding:0;
  font-family: 'Roboto Mono', monospace;
}

html {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

body {
  height:100%;
  width:100%;
  padding: 20px;
  font-size: 2vmin;
  background-color: rgb(22, 21, 21);
  color: #8fe590;
}

.daily-stock-head {
  font-size: 3.5vmin;
}

nav > a {
  color: #8fe590;
  text-decoration: none;
  font-size:2vmin;
}

nav > a:hover {
  border:0.2vmin solid #8fe590;
  background-color: rgb(75, 73, 73);
}

a {
  color: #8fe590;
  text-decoration: none;
}

td a {
  display:block;
  width:100%;
}


.login img {
  height: 1.8vh;
}

a > img {
  height:1vh;
}

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

nav {
  justify-content: center;
  text-align: center;
  height: 5vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:95vh;
  width:100vw;
}

.stock-cont {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap:5vh;
  column-gap:2vw;
  margin-top:3vh;
}

.stock {
  height:25vh;
  width:30vw;
  border: 1px solid #8fe590;
  background-color: rgb(75, 73, 73);
  display:grid;
  grid-template-rows: 11fr 11fr;

}

.stock:hover {
  position:absolute;
  z-index:1;
  height:40vh;
  width:50vw;
  border:0.5vmin solid #8fe590;
  box-shadow: 0.5vw 0.5vh black;
}


.home-header-cont {
  margin-top: 2vh;
}

.stock-title {
  margin-top:1vh;
  font-weight: bold;
}


.add-button {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.8vh;
  color: #8fe590;
  font-size:1.5vmin;
}


.grn-btn {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.5vh;
  color: #8fe590;  
  cursor:pointer;
  width:10vw;
  height:3.4vh;
}

.add-wl-button {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.1vh;
  color: #8fe590;
  font-size:1.15vmin;
  width:12vw;
}

.btn-input {
  height:2.7vh;
}

.add-wl-button:hover , .add-button:hover, .grn-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}


th, td {
  width: 12vw;
  border: 1px solid #8fe590;
}

td {
  text-align: center;
}

tr a:hover {
  color:rgb(112, 112, 243);
  text-decoration: underline;
}

.small-col {
  width:7vw;
}

.del-btn {
  background-color: rgb(208, 62, 62);
  border:0.2vh solid black;
  width:2.3vw;
  height:2.3vh;
}

.del-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.edit-btn {
  color: #8fe590;
  background-color:rgb(75, 73, 73);
  border:0.2vh solid black;
}

.edit-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.home-header-cont {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-header-cont form {
  grid-column-start: 1;
  grid-column-end: span 2;
  align-self:center;
}

.home-header-cont h1 {
  grid-column-start: 3;
  grid-column-end: span 1;
}

#add-watchlist label, #add-watchlist input {
  height:2vh;
  width:5vw;
}

#add-stock-portfolio > * {
  margin:1vh 0;
}

.flex-container {
  text-align: center;
  width:75vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2vh 0;
}

.link {
  color:rgb(112, 112, 243);
  text-decoration: underline;
}