html {
  height:100%;
  width:100%;
}

body {
  height:100%;
  width:100%;
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(22, 21, 21);
  color: #8fe590;
}

nav > a {
  color: #8fe590;
  text-decoration: none;
  font-size:20px;
}

a {
  color: #8fe590;
  text-decoration: none;
}

td a {
  display:block;
  width:100%;
}


.login img {
  height: 20px;
}

a > img {
  height:1vh;
}

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

nav {
  justify-content: center;
  text-align: center;
  height: 5vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  text-align: center;
}

.stock-cont {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap:5vh;
}

.stock {
  height:25vh;
  width:30vw;
  border: 1px solid #8fe590;
  background-color: rgb(75, 73, 73);
  display:grid;
  grid-template-rows: 11fr 11fr;

}

.stock-title {
  /* font-size: */
  font-weight: bold;
}

canvas {
  /* background-color: rgb(75, 73, 73); */
}

.add-button {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.8vh;
  color: #8fe590;
  font-size:1.5vmin;
}

.add-wl-button {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.5vh;
  color: #8fe590;
  font-size:1.3vmin;
}

.grn-btn {
  border: 0.2vh solid #8fe590;
  background-color: rgb(75, 73, 73);
  padding:.5vh;
  color: #8fe590;  
}

.btn-input {
  height:2.1vh;
}

.add-wl-button:hover , .add-button:hover {
  border:0.2vh solid white;
  cursor: pointer;
}


th, td {
  width: 12vw;
  border: 1px solid #8fe590;
}

td {
  text-align: center;
}

.small-col {
  width:5vw;
}

.del-btn {
  background-color: rgb(208, 62, 62);
  border:0.2vh solid black;
}

.del-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.edit-btn {
  color: #8fe590;
  background-color:rgb(75, 73, 73);
  border:0.2vh solid black;
}

.edit-btn:hover {
  border:0.2vh solid white;
  cursor: pointer;
}

.home-header-cont {
  /* display:flex;
  gap: 20vw 0;
  justify-content: space-around;
  align-items: center; */
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-header-cont form {
  grid-column-start: 1;
  grid-column-end: span 2;
  align-self:center;
}

.home-header-cont h1 {
  grid-column-start: 3;
  grid-column-end: span 1;
}

#add-watchlist label, #add-watchlist input {
  height:2vh;
  width:5vw;
}
