<%- include('../partials/header') %>
    <div class="show-cont">
        <h1>Add Stock to Portfolio</h1>
        <form class="add-stock-portfolio" action="/portfolios" method="POST">
            <label>Stock Ticker</label>
            <input type="text" autocomplete="off" spellcheck="false" name="T">
            <br>
            <label># of Shares Owned</label>
            <input type="number" 
            min="0" step="1" autocomplete="off" spellcheck="false" name="shares">
            <br>
            <label>Average Price Paid</label>
            <input type="number" min="0" step="0.01" autocomplete="off" 
             spellcheck="false" name="avgPrice">
            <br>
            <button type="submit">Add Stock</button>
        </form>
    </div>


<%- include('../partials/footer') %>